<div class="flex h-screen">
  <!-- Sidebar con la descripción -->
  <app-sidebar 
    class="fixed h-full bg-gray-800 text-white transition-all duration-300 ease-in-out"
    [class.w-64]="isSidebarVisible"
    [class.w-0]="!isSidebarVisible"
    [class.-translate-x-full]="!isSidebarVisible"
    [exercise]="exercise">
  </app-sidebar>

  <!-- Contenido principal -->
  <div class="flex-1 p-4 bg-gray-100 transition-all duration-300 ease-in-out"
       [class.ml-64]="isSidebarVisible"
       [class.ml-0]="!isSidebarVisible">
    
    <app-breadcrumb></app-breadcrumb>
    <app-content></app-content>
    <app-footer></app-footer>

    <!-- Botón para mostrar/ocultar Sidebar -->
    <button (click)="toggleSidebar()" 
            class="fixed top-4 left-4 bg-blue-600 text-white p-3 rounded shadow-lg">
      ☰
    </button>
  </div>
</div>
