/* Asegura que el contenedor principal ocupe toda la altura de la pantalla */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor del formulario */
.login-box {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
}

/* Asegura que el contenedor ocupe toda la pantalla */
.flex {
  display: flex;
}

.h-screen {
  height: 96vh;
}


/* Estilos del formulario */
.container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Estilos del título */
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Etiquetas de los campos */
label {
  display: block;
  color: #4a5568;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

/* Campos de entrada */
input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
}

/* Efecto en los inputs al enfocar */
input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

/* Botón */
button {
  width: 100%;
  background-color: #2563eb;
  color: white;
  padding: 0.75rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

/* Efecto hover del botón */
button:hover {
  background-color: #1e40af;
}

/* Pie de página */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
