<!-- sidebar.component.html -->
<div class="bg-gray-800 text-white h-full w-64 p-4">
    <h2 class="text-lg font-semibold mb-4">Menú</h2>
    <ul>
      <li><a class="block p-2 hover:bg-gray-700" [routerLink]="'/ejercicio-01'">ejercicio 1</a></li>
      <li><a class="block p-2 hover:bg-gray-700" [routerLink]="'/ejercicio-02'">ejercicio 2</a></li>
      <li><a class="block p-2 hover:bg-gray-700" [routerLink]="'/ejercicio-03'">ejercicio 3</a></li>
      <li><a class="block p-2 hover:bg-gray-700" [routerLink]="'/ejercicio-04'">ejercicio 4</a></li>
      <li><a class="block p-2 hover:bg-gray-700" [routerLink]="'/ejercicio-05'">ejercicio 5</a></li>
      <li><a class="block p-2 hover:bg-gray-700" [routerLink]="'/ejercicio-06'">ejercicio 6</a></li>
    </ul>
  </div>
  
